<header id="content-header">
  <h1>New Review for <%= link_to @movie.title, @movie %></h1>
</header>

<%= form_for([@movie, @review]) do |form| %>
  <%= render "form", f: form, nested: false %>
<% end %>
