<footer style="text-align: center; padding: 5px; color: #237CBE; background: #F0F0F0">
  <p>Copyright &copy; <%= Time.now.year %>,
    <%= link_to "Waihon's SaaS Journey", "https://www.facebook.com/waihonpage" %>.
    All Rights Reserved.</p>
</footer>
